@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

body {
  font-family: "Proza Libre", sans-serif;
}

.proza-libre-regular {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.proza-libre-medium {
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.proza-libre-semibold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.proza-libre-bold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.proza-libre-extrabold {
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.proza-libre-regular-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.proza-libre-medium-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.proza-libre-semibold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.proza-libre-bold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.proza-libre-extrabold-italic {
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.content-html h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.content-html h3 {
  font-size: 1.2rem;
  margin: 20px 0;
}

.content-html p {
  font-size: 0.925rem;
  line-height: 1.8;
  margin: 10px 0;
  color: rgb(68, 68, 68);
}
